In [1]:
import os
import sys
import pandas as pd
from typing import List

In [2]:
!pip install beautifultable
from beautifultable import BeautifulTable

Requirement already satisfied: beautifultable in /usr/local/lib/python3.10/dist-packages (1.1.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from beautifultable) (0.2.13)

In [3]:
!pip install opencv-python
!pip install camelot-py
!pip install ghostscript
!apt-get install ghostscript

import camelot

Requirement already satisfied: opencv-python in /usr/local/lib/python3.10/dist-packages (4.10.0.84)
Requirement already satisfied: numpy>=1.21.2 in /usr/local/lib/python3.10/dist-packages (from opencv-python) (1.26.4)
Requirement already satisfied: camelot-py in /usr/local/lib/python3.10/dist-packages (0.11.0)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (5.2.0)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (8.1.7)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (1.26.4)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (3.1.5)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (2.2.2)
Requirement already satisfied: pdfminer.six>=20200726 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (20240706)
Requirement already satisfied: pypdf>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (5.1.0)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (0.9.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl>=2.5.8->camelot-py) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py) (2024.2)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py) (3.4.0)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py) (43.0.3)
Requirement already satisfied: typing_extensions>=4.0 in /usr/local/lib/python3.10/dist-packages (from pypdf>=3.0.0->camelot-py) (4.12.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (1.17.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.23.4->camelot-py) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (2.22)
Requirement already satisfied: ghostscript in /usr/local/lib/python3.10/dist-packages (0.7)
Requirement already satisfied: setuptools>=38.6.0 in /usr/local/lib/python3.10/dist-packages (from ghostscript) (75.1.0)

In [18]:
#file_path="/content/drive/MyDrive/Colab Notebooks/OTL_edited.csv"
file_path="/content/drive/MyDrive/Colab Notebooks/World_Billionaires_Wikipedia.pdf"

In [29]:
# use camelot to parse tables
def get_tables(path: str, pages: List[int]):
    for page in pages:
        table_list = camelot.read_pdf(path, pages=str(page))
        if table_list.n>0:
            for tab in range(table_list.n):

                # Conversion of the the tables into the dataframes.
                table_df = table_list[tab].df
                print(table_df)

                table_df = (
                    table_df.rename(columns=table_df.iloc[0])
                    .drop(table_df.index[0])
                    .reset_index(drop=True)
                )

                table_df = table_df.apply(lambda x: x.str.replace('\n',''))

                # Change column names to be valid as XML tags
                table_df.columns = [col.replace('\n', ' ').replace(' ', '') for col in table_df.columns]
                table_df.columns = [col.replace('(', '').replace(')', '') for col in table_df.columns]

    return table_df
# extract data table from page number
df = get_tables(file_path, pages=[4])

      0                          1                 2    3  \
0   No.                       Name  Net worth\n(USD)  Age
1     1  Bernard Arnault &\nfamily      $211 billion   74
2     2                  Elon Musk      $180 billion   51
3     3                 Jeff Bezos      $114 billion   59
4     4              Larry Ellison      $107 billion   78
5     5             Warren Buffett      $106 billion   92
6     6                 Bill Gates      $104 billion   67
7     7          Michael Bloomberg     $94.5 billion   81
8     8       Carlos Slim & family       $93 billion   83
9     9              Mukesh Ambani     $83.4 billion   65
10   10              Steve Ballmer     $80.7 billion   67

                                         4  \
0                              Nationality
1                                   France
2   South Africa\n Canada\n United\nStates
3                           United\nStates
4                           United\nStates
5                           United\nStates
6                           United\nStates
7                           United\nStates
8                                   Mexico
9                                    India
10                          United\nStates

                                      5
0           Primary source(s) of wealth
1                                  LVMH
2                         Tesla, SpaceX
3                                Amazon
4                    Oracle Corporation
5                    Berkshire Hathaway
6                             Microsoft
7                        Bloomberg L.P.
8   Telmex, América Móvil, Grupo\nCarso
9                   Reliance Industries
10                            Microsoft

In [7]:
# prepare test set
eval_df = pd.DataFrame(columns=["Data Format", "Data raw"]) # , "Question", "Answer"

# Save the data in JSON format
data_json = df.to_json(orient='records')
eval_df.loc[len(eval_df)] = ["JSON", data_json]

# Save the data as a list of dictionaries
data_list_dict = df.to_dict(orient='records')
eval_df.loc[len(eval_df)] = ["DICT", data_list_dict]

# Save the data in CSV format
csv_data = df.to_csv(index=False)
eval_df.loc[len(eval_df)] = ["CSV", csv_data]

# Save the data in tab-separated format
tsv_data = df.to_csv(index=False, sep='\t')
eval_df.loc[len(eval_df)] = ["TSV (tab-separated)", tsv_data]

# Save the data in HTML format
html_data = df.to_html(index=False)
eval_df.loc[len(eval_df)] = ["HTML", html_data]

# Save the data in LaTeX format
latex_data = df.to_latex(index=False)
eval_df.loc[len(eval_df)] = ["LaTeX", latex_data]

# Save the data in Markdown format
markdown_data = df.to_markdown(index=False)
eval_df.loc[len(eval_df)] = ["Markdown", markdown_data]

# Save the data as a string
string_data = df.to_string(index=False)
eval_df.loc[len(eval_df)] = ["STRING", string_data]

# Save the data as a NumPy array
numpy_data = df.to_numpy()
eval_df.loc[len(eval_df)] = ["NumPy", numpy_data]

# Save the data in XML format
xml_data = df.to_xml(index=False)
eval_df.loc[len(eval_df)] = ["XML", xml_data]

In [8]:
from pandas import option_context
with option_context('display.max_colwidth', 150):
    display(eval_df.head(10))

,Data Format,Data raw
0,JSON,"[{""No."":""1"",""Name"":""Bernard Arnault &family"",""NetworthUSD"":""$233\u00a0billion"",""Age"":""75"",""Nationality"":""France"",""Primarysourcesofwealth"":""LVMH""},..."
1,DICT,"[{'No.': '1', 'Name': 'Bernard Arnault &family', 'NetworthUSD': '$233 billion', 'Age': '75', 'Nationality': 'France', 'Primarysourcesofwealth': 'L..."
2,CSV,"No.,Name,NetworthUSD,Age,Nationality,Primarysourcesofwealth\n1,Bernard Arnault &family,$233 billion,75,France,LVMH\n2,Elon Musk,$195 billion,52,So..."
3,TSV (tab-separated),No.\tName\tNetworthUSD\tAge\tNationality\tPrimarysourcesofwealth\n1\tBernard Arnault &family\t$233 billion\t75\tFrance\tLVMH\n2\tElon Musk\t$195 b...
4,HTML,"<table border=""1"" class=""dataframe"">\n <thead>\n <tr style=""text-align: right;"">\n <th>No.</th>\n <th>Name</th>\n <th>NetworthU..."
5,LaTeX,\begin{tabular}{llllll}\n\toprule\nNo. & Name & NetworthUSD & Age & Nationality & Primarysourcesofwealth \\\n\midrule\n1 & Bernard Arnault &family...
6,Markdown,| No. | Name | NetworthUSD | Age | Nationality | Primarysourcesofwealth |\n|------:|:-------------...
7,STRING,No. Name NetworthUSD Age Nationality Primarysourcesofwealth\n 1 Bernard Arnault &family $233 billion 75...
8,NumPy,"[[1, Bernard Arnault &family, $233 billion, 75, France, LVMH], [2, Elon Musk, $195 billion, 52, South Africa Canada UnitedStates, Tesla, SpaceX], ..."
9,XML,<?xml version='1.0' encoding='utf-8'?>\n<data>\n <row>\n <No.>1</No.>\n <Name>Bernard Arnault &amp;family</Name>\n <NetworthUSD>$233 bil...

In [9]:
MESSAGE_SYSTEM_CONTENT = """You are a customer service agent that helps a customer with answering questions.
Please answer the question based on the provided context below.
Make sure not to make any changes to the context, if possible, when preparing answers to provide accurate responses.
If the answer cannot be found in context, just politely say that you do not know, do not try to make up an answer."""

In [ ]:
!pip install openai==0.28

In [11]:
# from openai import AzureOpenAI

# client = AzureOpenAI(
#     api_key=OAI_API_Key,
#     api_version=OAI_API_Version,
#     azure_endpoint=OAI_API_Base)

# def response_test(question:str, context:str, model:str = "gpt-4"):
#     response = client.chat.completions.create(
#         model=model,
#         messages=[
#             {
#                 "role": "system",
#                 "content": MESSAGE_SYSTEM_CONTENT,
#             },
#             {"role": "user", "content": question},
#             {"role": "assistant", "content": context},
#         ],
#     )

#     return response.choices[0].message.content

import openai

# Set your OpenAI API key
openai.api_key = ""

def response_test(question: str, context: str, model: str = "gpt-4"):
    response = openai.ChatCompletion.create(
        model=model,
        messages=[
            {
                "role": "system",
                "content": MESSAGE_SYSTEM_CONTENT,
            },
            {"role": "user", "content": question},
            {"role": "assistant", "content": context},
        ],
    )

    return response.choices[0].message["content"]

In [12]:
def run_question_test(query: str, eval_df:str):

    questions = []
    answers = []

    for index, row in eval_df.iterrows():
        questions.append(query)
        response = response_test(query, str(row['Data raw']))
        answers.append(response)

    eval_df['Question'] = questions
    eval_df['Answer'] = answers

    return eval_df

def BeautifulTableformat(query:str, results:pd.DataFrame, MaxWidth:int = 250):
    table = BeautifulTable(maxwidth=MaxWidth, default_alignment=BeautifulTable.ALIGN_LEFT)
    table.columns.header = ["Data Format", "Query", "Answer"]
    for index, row in results.iterrows():
        table.rows.append([row['Data Format'], query, row['Answer']])

    return table

In [13]:
query = "What's the Elon Musk's net worth?"
result_df1 = run_question_test(query, eval_df.copy())
table = BeautifulTableformat(query, result_df1, 150)
print(table)

+---------------------+-----------------------------------+----------------------------------------+
| Data Format         | Query                             | Answer                                 |
+---------------------+-----------------------------------+----------------------------------------+
| JSON                | What's the Elon Musk's net worth? | Elon Musk's net worth is $195 billion. |
+---------------------+-----------------------------------+----------------------------------------+
| DICT                | What's the Elon Musk's net worth? | Elon Musk's net worth is $195 billion. |
+---------------------+-----------------------------------+----------------------------------------+
| CSV                 | What's the Elon Musk's net worth? | Elon Musk's net worth is $195 billion. |
+---------------------+-----------------------------------+----------------------------------------+
| TSV (tab-separated) | What's the Elon Musk's net worth? | Elon Musk's net worth is $195 billion. |
+---------------------+-----------------------------------+----------------------------------------+
| HTML                | What's the Elon Musk's net worth? | Elon Musk's net worth is $195 billion. |
+---------------------+-----------------------------------+----------------------------------------+
| LaTeX               | What's the Elon Musk's net worth? | Elon Musk's net worth is $195 billion. |
+---------------------+-----------------------------------+----------------------------------------+
| Markdown            | What's the Elon Musk's net worth? | Elon Musk's net worth is $195 billion. |
+---------------------+-----------------------------------+----------------------------------------+
| STRING              | What's the Elon Musk's net worth? | Elon Musk's net worth is $195 billion. |
+---------------------+-----------------------------------+----------------------------------------+
| NumPy               | What's the Elon Musk's net worth? | Elon Musk's net worth is $195 billion. |
+---------------------+-----------------------------------+----------------------------------------+
| XML                 | What's the Elon Musk's net worth? | Elon Musk's net worth is $195 billion. |
+---------------------+-----------------------------------+----------------------------------------+

In [14]:
query = "What are the sixth richest billionaire in 2023 and 2024 net worth?"
result_df2 = run_question_test(query, eval_df.copy())
table = BeautifulTableformat(query, result_df2, 150)
print(table)

+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| Data Format         | Query                            | Answer                                                                                    |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| JSON                | What are the sixth richest billi | The sixth richest billionaire in 2023 is Warren Buffett with a net worth of $133 billion. |
|                     | onaire in 2023 and 2024 net wort |  The information for 2024 is not available in the context provided.                       |
|                     | h?                               |                                                                                           |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| DICT                | What are the sixth richest billi | The sixth richest billionaire in 2023 and 2024 is Warren Buffett with a net worth of $133 |
|                     | onaire in 2023 and 2024 net wort |  billion.                                                                                 |
|                     | h?                               |                                                                                           |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| CSV                 | What are the sixth richest billi | The sixth richest billionaire in 2023 is Warren Buffett with a net worth of $133 billion  |
|                     | onaire in 2023 and 2024 net wort | USD. Information about the sixth richest billionaire in 2024 is not provided in the conte |
|                     | h?                               | xt.                                                                                       |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| TSV (tab-separated) | What are the sixth richest billi | The context provided does not include information about the net worth of the sixth riches |
|                     | onaire in 2023 and 2024 net wort | t billionaire in 2023 and 2024.                                                           |
|                     | h?                               |                                                                                           |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| HTML                | What are the sixth richest billi | The sixth richest billionaire in 2023 had a net worth of $133 billion. Unfortunately, the |
|                     | onaire in 2023 and 2024 net wort |  information for 2024 is not provided in the context.                                     |
|                     | h?                               |                                                                                           |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| LaTeX               | What are the sixth richest billi | I'm sorry, but the information provided does not specify the net worth of the sixth riche |
|                     | onaire in 2023 and 2024 net wort | st billionaire in 2023 and 2024.                                                          |
|                     | h?                               |                                                                                           |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| Markdown            | What are the sixth richest billi | Based on the information provided, the sixth richest billionaire in 2023 was Warren Buffe |
|                     | onaire in 2023 and 2024 net wort | t with a net worth of $133 billion. I'm sorry, but there is no information available for  |
|                     | h?                               | 2024.                                                                                     |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| STRING              | What are the sixth richest billi | The sixth richest billionaire in 2023 was Warren Buffet with a net worth of $133 billion. |
|                     | onaire in 2023 and 2024 net wort |  Information about the sixth richest billionaire in 2024 is not provided in the context g |
|                     | h?                               | iven.                                                                                     |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| NumPy               | What are the sixth richest billi | The sixth richest billionaire in 2023 is Warren Buffett, with a net worth of $133 billion |
|                     | onaire in 2023 and 2024 net wort | . The information for 2024 is not provided in the context.                                |
|                     | h?                               |                                                                                           |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+
| XML                 | What are the sixth richest billi | The sixth richest billionaire in 2023 and 2024 is Warren Buffett with a net worth of $133 |
|                     | onaire in 2023 and 2024 net wort |  billion.                                                                                 |
|                     | h?                               |                                                                                           |
+---------------------+----------------------------------+-------------------------------------------------------------------------------------------+

In [16]:
query = "What are the sixth richest billionaire in 2021 net worth?"
result_df3 = run_question_test(query, eval_df.copy())
table = BeautifulTableformat(query, result_df3, 150)
print(table)

+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| Data Format         | Query                                 | Answer                                                                               |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| JSON                | What are the sixth richest billionair | The sixth richest billionaire in 2021 according to the information provided is Warre |
|                     | e in 2021 net worth?                  | n Buffett with a net worth of $133 billion.                                          |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| DICT                | What are the sixth richest billionair | The sixth richest billionaire in 2021 is Warren Buffett with a net worth of $133 bil |
|                     | e in 2021 net worth?                  | lion.                                                                                |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| CSV                 | What are the sixth richest billionair | The net worth of the sixth richest billionaire in 2021, Warren Buffett, is $133 bill |
|                     | e in 2021 net worth?                  | ion.                                                                                 |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| TSV (tab-separated) | What are the sixth richest billionair | The sixth richest billionaire in 2021 is Warren Buffet, with a net worth of $133 bil |
|                     | e in 2021 net worth?                  | lion.                                                                                |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| HTML                | What are the sixth richest billionair | The sixth richest billionaire in 2021 is Warren Buffett with a net worth of $133 bil |
|                     | e in 2021 net worth?                  | lion.                                                                                |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| LaTeX               | What are the sixth richest billionair | The sixth richest billionaire in 2021 is Warren Buffett, with a net worth of $133 bi |
|                     | e in 2021 net worth?                  | llion.                                                                               |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| Markdown            | What are the sixth richest billionair | The sixth richest billionaire in 2021 is Warren Buffett, with a net worth of $133 bi |
|                     | e in 2021 net worth?                  | llion.                                                                               |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| STRING              | What are the sixth richest billionair | The sixth richest billionaire in 2021 is Warren Buffett with a net worth of $133 bil |
|                     | e in 2021 net worth?                  | lion.                                                                                |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| NumPy               | What are the sixth richest billionair | The sixth richest billionaire in 2021 is Warren Buffett with a net worth of $133 bil |
|                     | e in 2021 net worth?                  | lion.                                                                                |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+
| XML                 | What are the sixth richest billionair | The sixth richest billionaire in 2021 is Warren Buffett, with a net worth of $133 bi |
|                     | e in 2021 net worth?                  | llion.                                                                               |
+---------------------+---------------------------------------+--------------------------------------------------------------------------------------+